
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i');
@import url('https://fonts.googleapis.com/css?family=Catamaran');

*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: $base-line-height;
  font-size: $base-font-size * 1rem;
  color: #223137;
  background-color: #f7fafc;
  padding: $rhythm;
  max-width: 750px;
  margin: 0 auto;
  //needed for full-width header, not essential for the theme
  //ref: https://css-tricks.com/full-width-containers-limited-width-parents/
  overflow-x: hidden;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
    padding: $rhythm * 0.5;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
    padding: $rhythm * 0.3;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #111;
  margin-top: 0;
  margin-bottom: $rhythm;
  + hr {
    margin-top: -2.5rem;
    margin-bottom: 3rem;
  }
}

h1 {
  font-size: 3.8em;
  letter-spacing: -0.015em;
  + h2 {
    margin-top: -0.5 * $rhythm;
    font-weight: 400;
  }
}

h2 {
  font-size: 2.45em;
  + h3 {
    margin-top: -0.5 * $rhythm;
    font-weight: 400;
  }
}

h3 {
  font-size: 1.85em;
  + h4 {
    margin-top: -0.5 * $rhythm;
    font-weight: 400;
  }
}

h4 {
  font-size: 1.4em;
  + h5 {
    margin-top: -0.5 * $rhythm;
    font-weight: 400;
  }
}

h5 {
  font-size: 1.1em;
  + h6 {
    margin-top: -0.5 * $rhythm;
  }
}

h6 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

p {
  margin-top: 0;
  margin-bottom: $rhythm;
  + * {
    margin-top: $rhythm * -0.25;
  }
  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 0;
  }
  + h4 { //TODO
    margin-bottom: 0.35 * $rhythm;
  }
  &:last-of-type {
    + * {
      margin-top: 0;
    }
  }
  textarea, select, input[type]{
    margin-bottom: 0;
  }
}

small, sub, sup {
  font-size: 75%;
}

hr {
  margin-top: 0;
  margin-bottom: $rhythm;
  border: none;
  border-bottom: 1px solid saturate(lighten($color-brand, 25), 100);
  + hr {
    margin-top: -0.9 * $rhythm;
  }
}

a {
  text-decoration: none;
  color: $color-brand;
  transition: 0.25s;
  border-bottom: 1px solid transparentize($color-brand, 0.75);
  &:hover {
    transition-delay: -0.15s;
    color: lighten($color-brand, 10);
    border-bottom: 1px solid $color-brand;
  }
}

ul, ol, dl {
  padding-left: 1em;
  margin-bottom: $rhythm;
}

li {
  margin-bottom: 0.5em;
  * {
    margin-bottom: 0.5em;
  }
}

blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 4px solid $color-brand;
  margin-bottom: $rhythm;
}

img {
  max-width: 100%;
  margin-bottom: $rhythm;
}

/* Pre and Code */
pre {
  background-color: #eaedf0;
  display: block;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: $rhythm!important;
  + pre {
    margin-top: -0.5 * $rhythm;
  }
}

code {
  font-size: 0.9em;
  padding: 0.2em 0.35em;
  background-color: #eaedf0;
  border-radius: 3px;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: $rhythm;
  > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
  }
}

/* Tables */
table {
  display: block;
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $rhythm;
}

td, th {
  padding: 1em;
  border-bottom: 1px solid #eaedf0;
  line-height: 1.3;
}

th {
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  border-bottom: 2px solid #eaedf0;
  :last-of-type {
    border-bottom: none;
    border-top: 2px solid #eaedf0;
  }
}

/* Buttons, forms and input */

label, legend, fieldset {
  display: block;
  margin-bottom: .25rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
}

label {
  font-size: 0.85em;
  letter-spacing: 0.03em;
}

textarea {
  width: 100%;
  resize: vertical;
}

textarea, select, input {
  font-family: "Muli",sans-serif!important;
  color: #333;
  padding: 15px;
  background-color: #eaedf0;
  border: 1px solid #eaedf0;
  border-radius: 4px;
  box-shadow: none;
  transition: 0.4s;
  margin-bottom: $rhythm;
  &::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    color: #777;
  }
  &:hover {
    border: 1px solid $color-brand;
    transition-delay: -0.25s;
  }
  &:focus {
    transition-delay: -0.1s;
    color: #f9f9f9;
    background: $color-brand;
    outline: none;
    &::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
      color: #cdcdcd;
    }
  }
}

input[type="checkbox"], input[type="radio"]{
  width: 1.25em;
  height: 1.25em;
  margin-bottom: 1em;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  margin-bottom: $rhythm;
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  white-space: nowrap;
  background-color: $color-brand;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: saturate(lighten($color-brand, 10), 100);
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  &:active {
    background-color: $color-brand;
    transition-delay: -0.15s;
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }
  &:focus {
    outline: none;
  }
}

